/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url("img/Haning-Lantern.avif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hide {
    display: none;
}

/* to-do Header */

.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #c8e0d9;
    padding: 1.5rem;
    border-radius: 16px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* todo Form */

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p {
    margin-bottom: .5rem;
    font-weight: 800;
} 

#edit-form p {
    margin-bottom: .5rem;
    font-weight: 800;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

/* todo toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar  h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #ccc;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* todo list */

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: 3s;
}

.todo h3 {
    flex: 1;
    font-size: 1rem;
}

.todo button {
    display: flex;
    justify-content: space-around;
    margin-left: .3rem;
}

.done {
    background-color:#8aa19a;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

/* Footer */

footer {
    position: absolute;
    bottom:0;
    width: 100%;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: .5rem;
}

footer div p{
    color: #ffffff;
}

footer p a{
    text-decoration: none;
    color: #ffffff;
}